@charset "utf-8";

/* ================
BASIC
================== */
body{
	color:#333;
	background:#fff;
	text-align:center;
}


/* ================
LINK
================== */
a{
	color:#069;
	text-decoration:none;
}

a:hover{
	color:#f60;
	text-decoration:underline;
}

/* ================
LAYOUT
================== */
#container{
	width:750px;
	margin:0 auto;
	text-align:left;
	
}

#container #header{
	
}

#container #footer{
	
}

/* ================
HEADER
================== */
#container #header h1 img{
	margin:50px 0 15px 25px;
}

/* ================
CONTENTS
================== */
#container #main{
	margin:0 20px;
	padding:200px 20px;
	background:#eee;
	border:1px solid #ccc;
	text-align:center;
}

/* ================
FOOTER
================== */
#container #footer address{
	padding:30px 15px 15px 15px;
	font-size:80%;
	text-align:right;
	font-style:normal;
}