@charset "utf-8";

/* h1見出しの設定 */
div#setsumei h1{
	background:#069;
	color:#fff;
	font-size:130%;
	border: 5px solid #333;
}

/*h2　中見出しの設定*/

div#setsumei h2{
	font-size:110%;
	font-weight:bold;
	border-left: 5px solid #069;
	border-bottom: 1px dashed;
}

div#setsumei p{

}


/*サンプル枠*/
div#area{
	/*border-style: solid;
	background:#ffc;
	border-width: 1px;
	border-color: #666;*/
	boder: 1px solid #666;
	margin-top: 15px;
	margin-right: 25px;
	margin-bottom: 0px;
	margin-left: 25px;
}

div#area h2{
	color:#069;
	font-weight:bold;
	border-bottom: 3px double #666;
}

div#area p{

}
